body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p.navbar-brand{
  font-size: 2rem;
}

.clickable {
  cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    h4.issue-title {
      font-size: 1.2rem;
    }

    h5.issue-description{
      font-size: 1rem;
    }
  }